.fr-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fr-textarea {
  resize: none;
  padding: 12px;
  border-radius: 10px;
}

.fr-layout {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.fr-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fr-right {
  flex: 3;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.fr-submit {
  width: fit-content;
}

.mcq-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 600px;
}

.mcq-option {
  text-align: left;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
